.navbarWrapper {
  height: 3.2em;
}

.navbar {
  z-index: 9999;
  background-color: #501d3d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 3.2em;
  width: 100%;
  padding: 8px 30px;
  font-size: 16px;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar button {
  display: flex;
  align-items: center;
}

.navbar svg {
  margin: 0 12px;
  font-size: 1.2em;
}

a.navbarLink,
a:visited.navbarLink,
a:hover.navbarLink,
a:link.navbarLink {
  color: white;
}

a.navbarLink {
  text-decoration: none;
}

a:hover.navbarLink {
  text-decoration: underline;
}

.brand a {
  display: flex;
}

.brand svg {
  filter: invert(100%); /* can't quite get it white */
}

.menu {
  line-height: 1.5em;
}

.menu > div {
  margin: 0 16px;
}

.user {
  color: #ccc;
}

.locationButton {
  background-color: transparent;
  border: 1px solid #63244b;
  border-radius: 3px;
  color: white;
  font: inherit;
  padding: 2px;
}

.locationButton:hover {
  background-color: #63244b;
}

.locationButton:focus {
  outline: thin dotted;
}

/* Hide Mozilla's button focus style */
@supports (-moz-appearance: none) {
  .locationButton::-moz-focus-inner {
    border: none;
  }
}
